{% extends "base.html.jinja" %}
{% block left_panel %}
    <h2>Formularz rejestracji</h2>
    {% if message %}
        <P>{{message}}</P>
    {% else %}
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {{form_user_register}}
        <button type="submit">Zarejestruj</button>
    </form>
    {% endif %}
{% endblock left_panel %}